<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=|DataDirectory|\Database.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="SelectedLibrary" value="Music" />
    <add key="LibraryPath" value="My Documents\Library\" />
    <add key="PresentationPath" value="My Documents\Library\Presentations\" />
    <add key="AppColour" value="#FFFFFF" />
    <add key="KeepPresentations" value="false" />
    <add key="InsertBlankSlides" value="true" />
    <add key="MessengerFont" value="46 Arial White" />
    <add key="MessengerPosition" value="Bottom Left" />
    <add key="MessengerMargin" value="0,0,0,8" />
    <add key="TimerInterval" value="8" />
  </appSettings>
</configuration>