<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=|DataDirectory|\Database.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="VideoFormats" value="dvr-ms,wtv,mpeg,mpg,m1v,m2v,mod,mpa,mpe,ifo,vob,mp4,m4v,mp4v,3gp,3gpp,3g2,3gp2,m2ts,m2t,mts,ts,tts,mov,avi,wmv,asf,wm,wmd" />
    <add key="AudioFormats" value="mid,rmi,midi,m4a,wav,snd,au,aif,aifc,aiff,wma,mp2,mp3,adts,adt,aac" />
    <add key="PowerPointFormats" value="ppt,pps,pptx,ppsx,pptm" />
    <add key="PowerPointTemplates" value="pot,potx,potm" />
    <add key="ImageFormats" value="jpg,jpeg,wmp" />
    <add key="SelectedLibrary" value="Music" />
    <add key="LibraryPath" value="My Documents\Library\" />
    <add key="PresentationPath" value="My Documents\Library\Presentations\" />
    <add key="AppColour" value="#FFFFFF" />
    <add key="KeepPresentations" value="false" />
    <add key="InsertBlankAfterPres" value="true" />
    <add key="InsertBlankAfterVideo" value="true" />
    <add key="MessengerFont" value="46 Arial White" />
    <add key="MessengerPosition" value="Bottom Left" />
    <add key="MessengerMargin" value="0,0,0,8" />
    <add key="TimerInterval" value="8" />
  </appSettings>
</configuration>
