<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=|DataDirectory|\Database.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="DatabaseEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Database.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppColour" value="#FFFFFF" />
    <add key="KeepPresentations" value="false" />
    <add key="InsertBlankSlides" value="false" />
    <add key="PresentationPath" value="My Documents\Library\Presentations\" />
    <add key="MessengerFont" value="46 Arial White" />
    <add key="MessengerPosition" value="Bottom Left" />
    <add key="MessengerMargin" value="0,0,0,8"/>
    <add key="TimerInterval" value="8" />
    <add key="SelectedLibrary" value="Music" />
    <add key="LibraryPath" value="My Documents\Library\" />
  </appSettings>
</configuration>